<ul>
  <li>
    <a [routerLink]="['/inter']" routerLinkActive="active"  >Interpolación</a>
  </li>
  <li>
    <a [routerLink]="['/oneway']" routerLinkActive="active"  >1 way binding</a>
  </li>
  <li>
    <a [routerLink]="['/evento']" routerLinkActive="active"  >Evento</a>
  </li>
  <li>
    <a [routerLink]="['/twoway']" routerLinkActive="active"  >2 way binding</a>
  </li>
  <li>
    <a [routerLink]="['/servicio']" routerLinkActive="active"  >Servicio</a>
  </li>
  <li>
    <a [routerLink]="['/directivas']" routerLinkActive="active"  >Directivas</a>
  </li>
  <li>
    <a [routerLink]="['/pasoparamuno']" routerLinkActive="active"  >Paso de 1 parámetro</a>
  </li>
  <li>
    <a [routerLink]="['/pasomasparamsuno']" routerLinkActive="active"  >Paso de varios parámetros</a>
  </li>
  <li>
    <a [routerLink]="['/padre-padrehijo']" routerLinkActive="active"  >Padre de Padre a Hijo</a>
  </li>
  <li>
    <a [routerLink]="['/padre-hijopadre']" routerLinkActive="active"  >Padre de Hijo a Padre</a>
  </li>
</ul>
<hr>
<router-outlet></router-outlet>
